<%= link_to 'Add New Task', new_task_path, class:'btn btn-info col-xs-offset-1'%>

<% @tasks.each do |task| %>

<div class=" booyah-box col-xs-10 col-xs-offset-1">

<h1> Today's LQA Task </h1>
  <%= link_to task.item, task_path(task)%> 
 
  
  
    <strong> To do </strong>: 
      <p> <%= task.item %> </p> 

  <strong>Game</strong>: <p> <%= task.game %> </p>
  

  <% if task.user.present? %>
    <small> <%=task.user.email%> </small>
    <%end%>



  <hr />
</div>
</div>

<% end %>

<p class="pull-right"><strong> Reminder: </strong> Happy hour at 5:3pm </p>